--- 
# General params
batch_size: 512
learning_rate: 0.005
epochs: 100
seq_len: 144

# Optimisation
dropout: 0.2
momentum: 0.0005
weight_decay: 0.0001
scheduling: True
warm_up: 2
num_samples: 50000

# Architecure optimisation
token_embedding: 512
hidden_layer: 1024
projection_size: 512
output_shape: 512
gpu: 0

# Data input
# img = 2048, location = 2048, motion = 512, audio = 128
experts: ["test-img-embeddings"]
train_experts: ["img-embeddings"]
test_experts: ["test-img-embeddings"]
# experts: ["location-embeddings", "img-embeddings", "video-embeddings", "audio-embeddings"]
n_labels: 15
input_shape: 2048 
n_heads: 2
# pool or None
frame_agg: "none"
frame_id: 0

# Multi modal settings
mixing_method: "none"
cat_norm: False
cat_softmax: False

# options = "pre-trans", "post-trans", "pre_contrast"
architecture: "pre-contrast"

# Self supervised options
device: 0
# Method for pooling img, depth, and location embeddings.1
# avg, max, random (select a random frame each time)
aggregation: "none"
